.projects {
    text-align: left;
    min-height: 100vh;
    background-color: #ebcfff;
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}
.container > span {
    /*background-color: lavender;*/
    font-weight: bold;
}

.myProjects{
    width: 100%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}
.project{
    height: 500px;
    /*width: 500px;*/
    min-width: 255px;
    width: 500px;
    /*background-color: azure;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40px;
    /*align-items: center;*/
}
.project > span {
    font-weight: bold;
}
.photo{
    height: 400px;
    width: 100%;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
}