.authorCard {
    padding: 40px 0 60px 0;

    composes: partPage from '../../index.css';
}

.container {
    justify-content: left;

    composes: container from '../../index.css';
}

.avatar {
    width: 210px;
    height: 210px;
    margin: 0 35px;

    border-radius: 50%;
    background-image: url(photo.jpg);
    background-size: cover;
}

.authorContent {
    display: flex;
    flex-direction: column;

    margin: 0 20px;
}

.authorName {
    font-size: 38px;
    font-weight: 400;

    margin-bottom: 5px;

    text-transform: capitalize;
}

.skillTags {
    margin-bottom: 10px;
}

.skillTags ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding-inline-start: 0;
}

.skillTags li {
    font-weight: 500;

    display: inline-block;
    /*background-color: rgba(1, 1, 1, 0.63);*/
    /*color: #fff;*/

    margin: 5px 5px;
    padding: 4px 10px;

    border: 1px solid #010101;
    border-radius: 4px;
}

.authorLink {
    display: flex;
    align-items: center;
}
.social{
    /*margin: 0 20px;*/
}

.social a{
    font-size: 22px;
    margin-right: 8px;
    color: #010101;
}

a.github:hover, a.github:active{
    color: #6e5494;
}
a.linkedin:hover, a.linkedin:active{
    color: #007dbb;
}
a.facebook:hover, a.facebook:active{
    color: #3b5998;
}
a.instagram:hover, a.instagram:active{
    color: #bc2a8d;
}

@media (max-width: 768px) {
    .container {
        justify-content: center;
    }

    .authorName {
        font-size: 28px;

        text-align: center;
    }

    .authorLink {
        justify-content: center;
    }
}
