dt {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

dd {
    margin-bottom: 10px;
}
dd a{
    color: #010101;
}

@media (min-width: 576px) {
    dt {
        float: left;
        width: 100px;
        overflow: hidden;
        clear: left;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (min-width: 576px) {
    dd {
        margin-left: 112px;
    }
}