.navMenu {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.navMenu a {
    padding: 0px 15px;
    font-weight: 600;
    color: #010101;
    text-decoration: none;
}

a:hover, a:active {
    /*color: #5da4d9;*/
    color: #03a87c;
    /*color: rgba(2, 158, 116, 1);*/
}

@media (max-width: 375px) {
    .navMenu a {
        padding: 0px 10px ;
    }
}