body {
  margin: 0;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #010101;
  letter-spacing: 0.5px;
  background-color: #efefef;
}

@font-face {
  font-family: 'Quicksand';
  src: url('font.woff2');
}